

<!--
add a form that makes a POST request to /authentication/sign-up, with a field for username and password
  -->  

  <h3>Welcome! To register, please fill in the information</h3>

<form action="/authentication/sign-up" method="POST">

  <label for="input-username">Username</label>
  <input required type="text" id="input-username" name="username" placeholder="Write a username" />

  <label for="input-password">Password</label>
  <input required type="password" id="input-password" name="password"  placeholder="Create a strong password" />

  <button>Sign Up</button>
</form>