<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      {{#if user}}
      <form action="/authentication/sign-out" method="POST"><button>Logout</button></form>

      {{else}}

      <a href="/authentication/sign-up">Sign up</a>
      <a href="/authentication/sign-in">Sign in</a>
      {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>
