<h1>Login</h1>
<form method="POST" action="/login">
<label for="Username">User Name</label>
<input type="text" name="username">
<br>
<br>
<label for="password">Password</label>
<input type="password" name="password">
<br>
<br>
<button>Login</button>
<br>
<br>
<a href="/signup">Sign up</a>
</form>