<h1> Sign up</h1>

<form action="" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="Username" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Password" required />
  <button>Create the user</button>

</form>