<h1>Sign up </h1>
<form method="POST" action="/signup">
<label for="Username">User Name</label>
<input type="text" name="username">
<br>
<br>
<label for="password">Password</label>
<input type="text" name="password">
<br>
<br>
<button>Sign up</button>
<br>
<br>
<a href="/login">Login</a>
</form>