<form action="" method="POST">

  <label for="username">Username</label>
  <input type="text" id="username" name="username" placeholder="Your Username" />

  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="A Strong Password" />
  
  <button>Sign In</button>
</form>