<form action="" method="POST">
  <label for="input-username">Email</label>
  <input type="username" id="input-username" name="username" placeholder="Your Username" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <button>Sign In</button>
</form>
<a href="/passport/github">Sign In with GitHub</a>