
<h1>sign-in</h1>

<form action="/sign-in" method="POST">

  <label for="input-username">username</label>
  <input type="username" id="username" name="username" placeholder="Your username" />

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  
  <button>Sign In</button>
</form>