<form action="/login" method="POST">
  <label for="input-username">Username</label>
  {{!-- the //name// attribute relates to req.body input --}}
  <input type="text" id="username" name="username" required />
  
  <label for="input-password">Password</label>
  <input type="password" id="input-password" name="password" required />

  <button>Log In</button>
</form>