<form action="/signin" method="POST">
    <input type="text" placeholder="usernaMe" name="username">
    <input type="password" placeholder="passwoRd here" name="password">
    <button>sign in</button>
</form>