<div>

<form action="/login" method="POST">
<label for="username">Username</label>
<input type="text" placeholder="username" name="username">
<label for="password">Password</label>
<input type="text" placeholder="*********" name="password">
<button type="submit">Login</button>
</form>
</div>

<div>
  <p>If you don't have an account <a href="/signup">Create one</a></p>
</div>