<form action="/signup" method="POST">
    <input type="text" placeholder="Your desIred usernaMe" name="username">
    <input type="password" placeholder="Strong passwoRd here" name="password">
    <button>create user</button>
</form>