<h1>Sign-in to our webpage</h1>
<form action="/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" placeholder="Add your Name" name="username">
    <label for="password">Password:</label>
    <input type="password" placeholder="Password" name="password">
    <button>Sign In!</button>
</form>