<h1>SIGN UP</h1>

<form action="/passport/signup" method='POST'>
  <label for="input-username">Username</label>
  <input id='input-username' type='text' name='username' placeholder='your username' />
  <label for="input-password">Username</label>
  <input id='input-password' type='password' name='password' placeholder='your password' />
  <button>Submit</button>
</form>