<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
  <p>If you don't have an account <a href="/sign-up">Create one</a></p>
</div>
<div>
  <p>If you have an account <a href="/login">Login</a></p>
</div>