<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
    {{{body}}}
  </body>
</html>
